/* font link  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*------------------
 global css style
------------------- */

body{
    max-width: 1700px;
    margin: 0 auto;
    background: #f3f1ff;
}



.contener{
    width: 70%;
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    padding: 30px;

}


/*--------------------- 
navigation bar  style 
------------------------  */
header{
    background: #562eff;
}

nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}


nav img{
    height: 51px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}


.logo-nm{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.nav-link ul{
    display: flex;
    align-items: center;
    gap: 36px;

}
.nav-link li{
    list-style: none;

}
.nav-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

/*----------------------
     main section style
---------------------- */

main{
    display: grid;
    justify-items: center;
}


/* top section style */

.title{
    color: #562eff;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 33px 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}
.player{
    display: flex;
    gap: 16px;
    align-items: center;

}
.player img{
    height: 51px;
}
.player-nm{
    font-size: 18px;
    font-weight: 500;
}


.contener hr{
    margin: 30px 0;

}

/* blog item style */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 55px;
}

.blog{
    display: flex;
    gap: 16px;
}

.blog img{
    width: 177px;
}

.blog-nm{
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0 ;
}














/*-----------------------------
         Media query
----------------------------=- */

@media only screen and (max-width:672px){
    header{
        background: #000;
    }
    nav{
        width: 90%;
    }
    .nav-link ul {
        flex-direction: column;
    }

    /* top section style */

    .players{
        grid-template-columns: repeat(2, 1fr);
    }







}